apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: go2rtc
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: go2rtc-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        go2rtc.yaml: |
          streams:
            doorbell: {{ .doorbell }}
            doorbell_sub: {{ .doorbell_sub }}
            camera1: {{ .camera1 }}
            camera1_sub: {{ .camera1_sub }}
            camera2: {{ .camera2 }}
            camera2_sub: {{ .camera2_sub }}
            amcrest1: {{ .amcrest1 }}
            amcrest1_sub: {{ .amcrest1_sub }}
  dataFrom:
    - extract:
        key: security-cameras
