auth:
  enabled: false

tls:
  enabled: false

mqtt:
  host: emqx-listeners.database.svc.cluster.local
  topic_prefix: frigate
  user: "{FRIGATE_MQTT_USERNAME}"
  password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

# detectors:
#   coral:
#     type: edgetpu
#     device: pci

ffmpeg:
  global_args: [-hide_banner, -loglevel, info]
  hwaccel_args: preset-vaapi

snapshots:
  enabled: true
  timestamp: true
  bounding_box: true
  retain:
    default: 7

record:
  enabled: true
  retain:
    days: 2
    mode: motion
  events:
    retain:
      default: 14
      mode: active_objects
      objects:
        dog: 2
        car: 7

objects:
  track: [person, dog]
  filters:
    person:
      threshold: 0.75
      min_score: 0.70
    dog:
      threshold: 0.75
      min_score: 0.70

cameras:
  doorbell:
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-copy
      inputs:
        - path: rtsp://go2rtc.default.svc.cluster.local:8554/doorbell # <--- the name here must match the name of the camera in restream
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
            - audio # <- only necessary if audio detection is enabled
  camera1:
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-copy
      inputs:
        - path: rtsp://go2rtc.default.svc.cluster.local:8554:8554/camera1 # <--- the name here must match the name of the camera in restream
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
            - audio # <- only necessary if audio detection is enabled
  camera2:
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-copy
      inputs:
        - path: rtsp://go2rtc.default.svc.cluster.local:8554/camera2 # <--- the name here must match the name of the camera in restream
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
            - audio # <- only necessary if audio detection is enabled
  amcrest1:
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-copy
      inputs:
        - path: rtsp://go2rtc.default.svc.cluster.local:8554/amcrest1 # <--- the name here must match the name of the camera in restream
          input_args: preset-rtsp-restream
          roles:
            - record
            - detect
            - audio # <- only necessary if audio detection is enabled
    # detect:
    #   width: 640
    #   height: 480
    #   fps: 7
    # objects:
    #   filters:
    #     person:
    #       mask:
    #         - 960,626,800,617,797,0,960,0
    #         - 960,0,960,138,0,149,0,0
